body {
  font-family: "Helvetica", sans-serif;
}

.head-nav {
  display: inline-block;
  width: 100%;
  color: #fff;
  height: 58px;
  background: black; /*gradient from www.w3schools.com*/
  background: -webkit-linear-gradient(#525252,  #161616);
  background: -o-linear-gradient(#525252,  #161616);
  background: -moz-linear-gradient(#525252,  #161616);
  background: linear-gradient(#525252,  #161616);
  text-shadow: 3px 3px #2C2C2C;
}
.nav-left {
  display: inline-block;
}
.logo {
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 50px;
  left: 10px;
  top: 7px;
  margin-left: 279px;
}
.nap-option ul {
  display: inline-block;
  width: 400px;
}
.nav-option li{
  position: relative;
  list-style: none;
  display: inline-block;
  top: -5px;
  left: 305px;
  margin-right: 45px;
  font-size: 16px;
  text-transform: uppercase;

}

.moblog {
  font-weight: bold;
  font-size: 22px;
}

.startmob {
  margin-left: -13px;
}

.user {
  position: relative;
  display: inline-block;
  float: right;
  right: 359px;
  padding: 0;
  margin: 0;
}

.user-pic {
  position: relative;
  top: 4px;
}
.user-pic img {
  border-radius: 50%;
}
.user-menu {
  color: #fff;
  font-size: 17px;
  position: absolute;
  display: inline-block;
  width: 300px;
  top: 20px;
  left: 60px;
}

.menu-arrow {
  display: inline;
  position: absolute;
  top: 5px;
  left: 81px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #9C9C9C;
}

/*tried to make arrow shadow by creating another arrow that was slightly offset and behind.. but to no avail :(

.menu-arrow::after {
  display: inline;
  position: absolute;
  top: 5px;
  left: 81px;
  width: 0;
  height: 0;
  z-index: -1;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #2C2C2C;
}*/

.headline {
  margin: -30px 0 0 0;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 30px;
  letter-spacing: .2px;
  border-bottom: 1px solid lightgrey;
  padding-top: 27px;
  padding-bottom: 25px;
  box-shadow: 15px -1px 10px #888888;
}

.container1 {
  width: 100%;
}

.primary-column {
  float: left;
}

.secondary-column {
  float: left;
}
