/*worked on caff project*/
body {
  font-family: "Helvetica", sans-serif;
}

.head-nav {
  display: inline-block;
  width: 100%;
  color: #fff;
  height: 58px;
  background: black; /*gradient from www.w3schools.com*/
  background: -webkit-linear-gradient(#525252,  #161616);
  background: -o-linear-gradient(#525252,  #161616);
  background: -moz-linear-gradient(#525252,  #161616);
  background: linear-gradient(#525252,  #161616);
  text-shadow: 3px 3px #2C2C2C;
}
.nav-left {
  display: inline-block;
}
.logo {
  color: #fff;
  position: absolute;
  display: inline-block;
  width: 50px;
  left: 10px;
  top: 7px;
  margin-left: 279px;
}
.nav-option ul {
  display: inline-block;
  width: 400px;
}

.nav-option li:hover {
  color: #F3CF46;
}

.nav-option li{
  position: relative;
  list-style: none;
  display: inline-block;
  top: -5px;
  left: 305px;
  margin-right: 45px;
  font-size: 16px;
  text-transform: uppercase;

}



.moblog {
  font-weight: bold;
  font-size: 22px;
}

.startmob {
  margin-left: -13px;
}

.user {
  position: relative;
  display: inline-block;
  float: right;
  right: 388px;
  padding: 0;
  margin: 0;
}

.user-pic {
  position: relative;
  top: 4px;
  left: -80px;
}
.user-pic img {
  border-radius: 50%;
}
.user-menu {
  color: #fff;
  font-size: 17px;
  position: absolute;
  display: inline-block;
  width: 300px;
  top: 20px;
  left: -20px;
}

.menu-arrow {
  display: inline;
  position: absolute;
  top: 5px;
  left: 81px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #9C9C9C;
}

.menu-arrow:hover {
  display: inline;
  position: absolute;
  top: 5px;
  left: 81px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #F66733;;

}

/*tried to make arrow shadow by creating another arrow that was slightly offset and behind.. but to no avail :(

.menu-arrow::after {
  display: inline;
  position: absolute;
  top: 5px;
  left: 81px;
  width: 0;
  height: 0;
  z-index: -1;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #2C2C2C;
}*/


.headline {
  margin: -30px 0 0 0;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 2px #cfcdc8;
  position: relative;
  top: 30px;
  left: 0;
  letter-spacing: .2px;
  border-bottom: 1px solid lightgrey;
  padding-top: 27px;
  padding-bottom: 25px;
  box-shadow: 15px -1px 10px #888888;
}

.headline span {
  position: relative;
  left: -56px;
}

.container1 {
  width: 100%;
  position: relative;
  top: 31px;
  height: 580px;
  background-color: #F2F0EC;
}

.primary-column {
  float: left;
}

.large-image {
  position: relative;
  margin: 31px 10px 10px 279px;
}

.image-header {
  color: #fff;
  width: 620px;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0, 0.3);
}

.u2tour {
  font-size: 25px;
  position: relative;
  top: 14px;
  left: 20px;

}
/*.clock-icon {
  position: absolute;
  float: right;
}*/
.fa-clock-o {
  color: #F3CF46;
  position: relative;
  top: 4px;
}

.mobends {
  float: right;
  font-size: 14px;
  position: relative;
  bottom: 17px;
  right: 30px;
}

/*.secondary-column {
  float: left;
}*/

.img-sub-footer {
  background-color: #F3CF46;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #9C9C9C;
  color: #fff;
  position: relative;
  padding: 9px 15px 9px 21px;
  bottom: 22px;
  left: -6px;
  width: 105px;
  border-bottom: 1px solid grey;
  z-index: 100;
}

.img-sub-footer::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  top: 33px;
  left: -1px;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 8px solid #F3CF49;
  /* display: inline; */
}




.image-footer {
  position: absolute;
  color: #414141;
  font-size: 18px;
  font-style: oblique;
  background-color: #CFCDC8;
  padding-left: 24px;
  padding-top: 53px;
  width: 596px;
  height: 30px;
  top: 400px;
}

.image-footer span {
  position: relative;
  top: -29px;
}

.image-footer a:hover {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.image-note-icon-arrow img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: -12px;
  bottom: -43px;
  z-index: 22;
}
.note-span {
  font-size: 12px;
  color: #898888;
  position: relative;
  width: 620px;
  top: 53px;
  left: 32px;
}


.secondary-columm {
  float: right;
  width: 40%;
}
.secondary-column {
  float: right;
  position: relative;
  width: 26%;
  left: -22px;
  margin-right: 232px;;
  margin-top: 30px;
}

.col-1, .col-2 {
  float: left;
  height: 152px;
  width: 140px;
  background-color: #CFCDC8;
  color: #fff;
  margin-right: 20px;
}

.num-mobs {
  font-size: 75px;
  position: relative;
  margin: 0 auto;
  top: 20px;
  text-align: center;
  text-shadow: 0px 1px 7px grey;
}

.moby {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: black;
  position: relative;
  bottom: -32px;
  background-color: #AFA99F;
  padding: 9px 0;
}

.join-button button {
  position: relative;
  background-color: #F3CF46;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  margin: 0 auto;
  top: 23px;
  width: 302px;
  height: 64px;
  border-radius: 7px;
  font-size: 26px;
  border-radius: 7px;
  box-shadow: -1px 4px 7px #bababa;
  font-size: 24px;
  background: -webkit-linear-gradient(#FBF4C1 1%, #F3CF46 3%, #F3CF46 11%, #E1A93A 87%);
  background: -o-linear-gradient(#FBF4C1 1%, #F3CF46 3%, #F3CF46 11%, #E1A93A 87%);
  background: -moz-linear-gradient(#FBF4C1 1%, #F3CF46 3%, #F3CF46 11%, #E1A93A 87%);
  background: linear-gradient(#FBF4C1 1%, #F3CF46 3%, #F3CF46 11%, #E1A93A 87%);
}

.join-button button:hover {
  background-color: grey;
  color: white;
  background: -webkit-linear-gradient(#f2f0ec 1%, #c0c0c0 3%, #c0c0c0 11%, #929291 87%);
  background: -o-linear-gradient(#f2f0ec 1%, #c0c0c0 3%, #c0c0c0 11%, #929291 87%);
  background: -moz-linear-gradient(#f2f0ec 1%, #c0c0c0 3%, #c0c0c0 11%, #929291 87%);
  background: linear-gradient(#f2f0ec 1%, #c0c0c0 3%, #c0c0c0 11%, #929291 87%);
}


.award-icon {
  position: absolute;
  z-index: 1;
  top: 244px;
  left: 4px;
}

.reward {
  display: inline-block;
  margin: 0 auto;
  background-color: #fff;
  color: #414141;
  text-shadow: 1px 1px 1px #cfcdc8;
  font-size: 13px;
  width: 288px;
  position: relative;
  left: 5px;
  top: 23px;
  height: 76px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: inset 0px 0px 10px #bababa;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}

.reward h2 {
  text-align: center;
  font-size: 18px;
  text-align: center;
  position: relative;
  right: 35px;
  top: -1px;
}

.ticksale {
  font-size: 11px;
  text-shadow: 1px 1px 1px #cfcdc8;
  z-index: 3;
  position: relative;
  top: -27px;
  left: 61px;
}

.join-mob-sub-foot {
  font-size: 12px;
  color: #898888;
  text-shadow: 1px 1px 1px #eee;
  width: 283px;
  padding-left: 17px;
  padding-top: 0px;
  margin-top: -4px;
  padding-bottom: 14px;
  border-bottom: 1px solid grey;
}

.social-links {
  list-style: none;
  font-size: 14px;
  display: flex;
}

.social-links > li > button {
  margin-right: 6px;
 position: relative;
 top: 6px;
 left: -38px;
 font-size: 12px;
 border-radius: 6px;
}

.twit button {
  color: #4597c8;
  height: 25px;
  background: linear-gradient(#fff 40%, rgba(69, 151,200, 0.3));
}
.twit button:hover {
  height: 28px;
}
.face button {
  color: #3F5794;
  background-color: #ECEEF4;
  height: 25px;
}

.face button:hover {
  height: 28px;
}

.goog button {
  font-family: 'PT Serif', serif;
  color: #CE674E;
  height: 25px;
  overflow: hidden;
  background: linear-gradient(#f2f0ec 40%, rgba(207, 205, 204, 0.93));
}

.goog button:hover {
  height: 28px;
}

.g {
  font-size: 30px;
  position: relative;
  top: -12px;
  margin-left: -10px;
  margin-top: -22px;
}

.plusone {
  position: relative;
  top: -15px;
  font-weight: bold;
}

.linkin {
  position: relative;
  position: relative;
  top: 10px;
  left: -38px;
  transform: scaleX(-1);
}

.linked {
  position: relative;
  top: 10px;
  left: -33px;
  color: #3880AC;
}

.linked a:hover {
  color: grey;
  text-shadow: 1px 1px 1px #eee;
  font-size: 18px;
}
